@import url(./bikes/bikes.css);

/* utilidades */

@import url(./utilidaades/componentes.css);
@import url(./utilidaades/tipografia.css);
@import url(./utilidaades/color.css);

/* home */

@import url(./home/introducao.css);
@import url(./home/parceiros.css);
@import url(./home/tecnologia.css);
@import url(./home/depoimento.css);

/* global */

@import url(./global/footer.css);
@import url(./global/header.css);
@import url(./global/global.css);
@import url(./global/seguros.css);

/* bicicleta */

@import url(./bicicleta/bicicleta.css);

/* termos */

@import url(./global/termos.css);

/* seguros */

@import url(./seguro/seguro.css);
