@import url(./introducao.css);
@import url(./tecnologia.css);
@import url(./bikes/bikes.css);

/* utilidades */

@import url(./utilidaades/componentes.css);
@import url(./utilidaades/tipografia.css);
@import url(./utilidaades/color.css);

/* home */

@import url(./home/introducao.css);
@import url(./home/tecnologia.css);

/* global */

@import url(./global/header.css);
@import url(./global/global.css);
