* {
  margin: 0;
  padding: 0;
}

body {
  color: #111111;
  padding-bottom: 700px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
p,
blockquote {
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
