.header-bg {
  background-color: var(--cor-12);
}

.header-menu a {
  text-decoration: none;
  color: var(--cor-0);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 20px;
  text-transform: capitalize;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.header-menu a::after {
  content: "";
  width: 0%;
  height: 2px;
  margin-top: 4px;
  background-color: var(--cor-0);
  position: absolute;
  top: 40px;
  left: 0;
  transition: 0.4s ease-in-out;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    background-color: var(--cor-11);
    padding: 12px;
    border-radius: 3px;
  }

  .header-menu {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }

  .header-menu {
    gap: 12px;
  }
}

@media (max-width: 460px) {
  .header img {
    padding-bottom: 20px;
  }
}
