.bikes {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  padding: 0 20px 20px 20px;
  gap: 0 40px;
  max-width: 1400px;
  overflow-x: auto;
}

.bikes a {
  display: block;
}

.introducao2 h1 {
  font: 600 4rem/1.125 "Poppins", sans-serif;
  padding-bottom: 62px;
}

.introducao2 {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-bottom: 120px;
}

.bikes li {
  min-width: 280px;
}

.bikes img {
  border-radius: 5px;
  object-fit: cover;
}

.bikes p,
h3 {
  padding-top: 8px;
}

.bikes p {
  margin-left: 20px;
}

.bikes h3 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.bikes h3::before {
  content: " ";
  width: 10px;
  height: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: var(--cor-p1);
  display: inline-block;
}

.bikes :hover::before {
  width: 25px;
  transition: 0.2s;
}

@media (max-width: 800px) {
  .introducao2 {
    padding-bottom: 60px;
  }

  .bikes {
    gap: 20px;
  }
}
