.depoimento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--cor-p1);
  overflow: hidden;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: flex-end;
}

.depoimento-conteudo p {
  max-width: 32ch;
  font-family: Merriweather;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.depoimento-conteudo p::before {
  content: " “ ";
  font-size: 5rem;
  position: absolute;
  color: var(--cor-p2);
  left: -50px;
  top: -20px;
}

.depoimento-conteudo p::after {
  content: " ” ";
  font-size: 5rem;
  position: absolute;
  color: var(--cor-p2);
  bottom: -50px;
}

.depoimento-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
}

@media (min-width: 1200px) {
  .depoimento-img {
    max-height: 520px;
  }
}
