img {
  max-width: 100%;
  display: block;
}

.introducao-bg {
  background-color: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -220px var(--cor-0);
}

.introducao {
  display: grid;
  padding-bottom: 100px;
  gap: 0 40px;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.introducao img {
  object-fit: cover;
  height: 100%;
}

.introducao-conteudo {
  align-self: end;
  margin-bottom: 200px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.introducao-conteudo p {
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #b2b2b2b2;
}
