.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia-img img {
  height: 100%;
  width: 100%;
  grid-column: 2;
  grid-row: 1 / -1;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.tecnologia-corpo {
  display: grid;
  padding-bottom: 160px;
  padding-top: 160px;
}

.tecnologia-corpo h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

.tecnologia-corpo h4 {
  position: relative;
  color: var(--cor-5);
  margin: 0;
  align-self: flex-end;
}

.tecnologia-info h3 {
  padding-bottom: 20px;
}

.tecnologia-corpo p {
  padding-bottom: 40px;
}

.tecnologia-info {
  display: flex;
  gap: 0 40px;
}

.tecnologia-conteudo a {
  margin-bottom: 80px;
  width: 270px;
}

.tecnologia-info h3 {
  padding-bottom: 8px;
  max-width: max-content;
}

.tecnologia-info img {
  grid-row: 1;
  width: 24px;
}

@media (max-width: 800px) {
  .tecnologia-conteudo {
    grid-template-columns: 1fr;
  }

  .tecnologia-img img {
    display: none;
  }
}

@media (max-width: 600px) {
  .tecnologia-info {
    flex-direction: column;
  }

  .tecnologia-conteudo a {
    margin-bottom: 50px;
  }

  .tecnologia-corpo {
    padding-bottom: 160px;
    padding-top: 60px;
  }
}

@media (max-width: 400px) {
  .tecnologia-corpo {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .tecnologia-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0 20px var(--cor-0), inset 0 -20px var(--cor-0);
  }
}
