.botao {
  padding: 16px 32px;
  border-radius: 3px;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  color: #332200;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #b68106);
}

.ponto {
  color: #ffbb00;
}

.container {
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
