.botao {
  padding: 16px 32px;
  border-radius: 3px;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  color: #332200;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-width: max-content;
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #b68106);
}

.ponto {
  color: #ffbb00;
}

.container {
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "poppins", sans-serif;
  text-transform: uppercase;
  max-width: max-content;
}

.link::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

/* titulos internos */

.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--cor-11);
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
