.font-1-xxl {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

.texto-medio {
  font-size: 28px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #b2b2b2b2;
}
